# Python environments and cache
venv/
env/
.venv/
__pycache__/
*.py[cod]

# Data (Ignore files but keep folders)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
# Jupyter and Spark
.ipynb_checkpoints/
spark-warehouse/